body {
  width: 100%;
  background-color: #006ec5;
  border: 20px solid white;
}
.frame {
  border: 4px solid white;
  border-radius: 10px;
  margin: 40px;
  padding: 20px;
}
.container {
  background-color: #006ec5;

  padding: 30px;
  width: 100%;
}
.zero {
  font-size: 120px;
  font-weight: 500;
  margin-left: 45px;
  color: white;
  display: inline;
}
.degree {
  font-size: 50px;
  padding-top: 10px;
  margin-top: 10px;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: white;
}
a {
  color: white;
}
.info {
  font-size: x-small;
}
.box {
  width: 80px;
  margin: 15px;
}
.day {
  margin-bottom: 0;
}
.col {
  margin: 2px;
  border: 2px solid white;
  padding: 10px;

  border-radius: 10px;
}
.first {
  border-radius: 10px;
}
.seperator {
  color: white;
}
.last {
  border-radius: 10px;
}
.search {
  padding: 13px;
  margin: 10px;
  border-radius: 50px;
  border: 1px solid white;
  width: 75%;
}
h2,
h3,
h4,
p {
  color: white;
}
.city {
  font-size: 40px;
  text-align: center;
  color: white;
}
.myLocation {
  background-color: #006ec5;
  border: 2px solid white;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 10px;
  color: white;
}
.myLocation:hover {
  background-color: white;
  border: 2px solid #006ec5;
  border-radius: 30px;
  color: #006ec5;
  transition: all 400ms ease-in-out;
}
